" Modeline and Notes {{{
" vim: set foldmarker={{{,}}} foldmethod=marker foldlevel=0 spell:
"
"   Author: Charles LeDoux
"
"   Stripped down version of my .vimrc for use in ideavim plugin
"
"   This file is in the public domain.
"
"   Suggestions and bugs can be emailed to charles@charlesledoux.com
" }}}

" Full list of supported set options at:
" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" Editor options {{{
" Turn on line numbers
set number
" Give line numbers relative to cursor position
"set relativenumber
" Visual, not audio bell
set visualbell
" Context lines around cursor
set scrolloff=3
" Without upper case in search, ignore case.  Otherwise, case sensitive.
set ignorecase
set smartcase
" Highlight search term
set hlsearch
" Turn surround emulation on
set surround

" }}}

" Key Mappings {{{
" Set the leader key
let mapleader=" "
" Map fd to exit to normal mode
" This is chosen to match spacemacs
inoremap fd <ESC>
" Remove current highlighting of search words
map <leader>n :noh<CR>
" File save and quit shortcuts.
map <leader>w :w<CR>
map <leader>q :q<CR>
map <leader>x :x<CR>
" Format paragraph
map <leader>g gwip
" Set J to set the previously jump mark
nnoremap J m`J
" Set <leader>J to not move the curson
nnoremap <leader>j m`J``
" Map Ctrl + Vim navigation keys to windows navigation
noremap <C-J> <C-W>j
noremap <C-K> <C-W>k
noremap <C-H> <C-W>h
noremap <C-L> <C-W>l
" Swap the functionality of nav-key and g+nav-key
" This sets nav-key to work on screen lines and
" g+nav-key to work on logical lines
nnoremap j gj
nnoremap k gk
vnoremap j gj
vnoremap k gk
nnoremap gj j
nnoremap gk k
vnoremap gj j
vnoremap gk k
" Copy to and from system with <leader>{y,p}
vmap <Leader>y "+y
vmap <Leader>d "+d
nmap <Leader>p "+p
nmap <Leader>P "+P
vmap <Leader>p "+p
vmap <Leader>P "+P
" }}}
